$primary: #6B7583;
$darkprimary: #00142C;
$dashboardprimary: #00142C;

$feedprimary: #ED7D79;
$feedsecondary:#FFC09E;

$mint: #AEE8AE;
body {
    padding: 50px 0 0;
    background-color: #f5f5f5;
}
a {
    color: $primary;
    &:hover, &:active, &:focus {
        color: $darkprimary;
    }
}
// h1 {
//     font-weight: lighter;
//     text-align: center;
//     max-width: 500px;
//     margin: 30px auto;
// }
label {
    display: block;
}

.navbar-toggle .icon-bar {
    background: $primary;
}


.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: $darkprimary;
    border-color: $darkprimary;
}

.btn-primary:focus {
    background: $darkprimary;
}


// dashboard
//menu 

#longmenu {
    padding: 30px 0;
    background: $dashboardprimary;
    color: #fff;
    position:fixed;
    ul {
        list-style: none;
        padding-left: 0px;
    }
    li {
        color: white;
        border-bottom: 1px solid #fff;
        padding: 15px 15px 15px 30px;
        a {
            color:  #fff;
        }
        a:hover {
            color: #fff;
        }
    }
}

.content {
    padding: 30px;
}

.product {
    background: #6B7583;
    height: 250px;
    margin-bottom: 15px;
    cursor: pointer;
    display: block;
    background-size: cover;
    background-position: center center;
    .titleoverlay {
        padding-top: 80px;
        font-size: 5rem;
        color: $dashboardprimary;
        width: 5rem;
        margin: auto;
    }
    .rating {
        width: 40px;
        height: 40px;
        background: #DE9E9A;
        text-align: center;
        padding: 10px;
    }
}

.thumbnail {
    width: 150px;
}

.login {

    form {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 400px;
        .btn  {
            width: 100%;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    &.no-border {
        td {
            border: none;
        }
    }
    a {
        font-weight: bold;
    }
    td, th {
        padding: 5px 10px;
        border: 1px solid #dedede;
        //border-radius: 2px;
    }
    th {
        border-bottom: 2px solid #dedede;
    }
    td {
        color: #737373;
    }
    .complete {
        background-color: $primary;
        color: #fff;
        text-align: center;
    }
    .progress {
        margin-bottom: 0px;
    }
    .progress-bar {
        background-color: $primary;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 25px;
    }
}

.panel-title {
    a {
        display: block;
    }
}
.overlay {
    display: none;
    position: fixed;
    z-index: 1031;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);
}
.popup {

    position: absolute;
    width: 34%;
    top: 50px; bottom: 0px;
    right: 0px;
    padding: 20px;
    border: 1px solid #eee;
    background: #fff;

}
.messages {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #eee;
    list-style: none;
    border-bottom: 1px solid #faebcc;
    list-style: none;
    background: #fcf8e3;
    padding-left: 0px;
    li {
        padding: 10px 30px 10px 0px;
        display: inline-block;
        color: #66512c;
    }
}
.navbar {
    margin-bottom: 0px;
    background-color: #fff;
    border-color: #dedede;

    a {
        font-weight: bold;
        color: #6c6c6c;
    }
    .navbar-brand {
        letter-spacing: 1px;
    }
}
.nav > li {
    border-right: 1px solid #dedede;
    &:first-child {
        border-left: 1px solid #dedede;
    }
}
.light {
    font-weight: normal;
}

.header_link {
    background: transparent;
    color: #fff;
    border-color: #a8d99e;
    &:hover {
        background-color: #fff;
        color: $primary;
        border-color: transparent;
    }
}
.outer_content {
    padding: 40px 0;
}
.main_content {
    padding: 20px 0;
    background-color: #fff;
}


.btn-primary {
    background-color: $primary;
    border-color: $darkprimary;
    &:hover {
        background-color: $darkprimary;
        border-color: $darkprimary;
    }
}
.save_start {
    &.ready {
        display: inline-block;
    }
}
.right {
    float: right;
}
.red {
    color: #fff!important;
    background-color: #f97272!important;
}
.orange {
    background-color: #f4ab55!important;
    color: #fff;
}
.yellow {
    background-color: #edd553!important;
    color: #fff;
}
.primary {
    color: #fff;
    background-color: $primary;
}
.logo {
    max-width: 100%;
}
.col-centered{
    float: none;
    margin: 0 auto;
}


// logo on login page
form img {
max-width: 70%;
margin: 10px 0;
display: block;
}

// styles for PW reset stuff
#id_email, #id_new_password2, #id_new_password1 {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 15px;
}

// feed
.products > div {
    min-height: 360px;
}

.thumbsup {
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 5rem;
    color: #fff;
    span {
        display: none;
    }
}

.meta {
    h3 {
        margin-top:0px;
    }
}
.rating {
    .btn {
        float: right;
        margin-left: 5px;
    }
}
.btn {
    &.cut {
        border-color: $feedprimary;
        color: $feedprimary;
        background: none;
    }
    &.sow {
        border-color: $mint;
        color:$mint;
        background: none;
    }
    &.follow {
        float: none;
    }
}

// userprofile 
.avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;   
    background-size:cover;
    background-position: center center;
    margin-bottom: 15px;
    &.small {
        width:50px;
        height: 50px;
    }
    &.medium {
        width:100px;
        height:100px;
    }
}

.text-center {
    text-align: center;
    > div {
        margin-bottom: 15px;
    }
}

 .table>tbody>tr>td {
        vertical-align: middle;
}

@media print {
    body {
        background-color: #fff;
    }
}