body { padding: 50px 0 0; background-color: #f5f5f5; }

a { color: #6b7583; }
a:hover, a:active, a:focus { color: #00142c; }

label { display: block; }

.navbar-toggle .icon-bar { background: #6b7583; }

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active { background-color: #00142c; border-color: #00142c; }

.btn-primary:focus { background: #00142c; }

.badge { background: #ed7d79; }

#longmenu { padding: 30px 0; background: #00142c; color: #fff; position: fixed; }
#longmenu ul { list-style: none; padding-left: 0px; }
#longmenu li { color: white; border-bottom: 1px solid #f5f5f5; padding: 15px 15px 15px 30px; }
#longmenu li a { color: #f5f5f5; }
#longmenu li a:hover { color: #f5f5f5; }
#longmenu li.active { background: #f5f5f5; color: #00142c; }

.tabs li { border-top: 1px solid #dedede; }
.tabs li.active { background: #fff; }

.content { padding: 30px; }

.product { position: relative; background: #6B7583; height: 250px; margin-bottom: 15px; cursor: pointer; display: block; background-size: cover; background-position: center center; }
.product .titleoverlay { padding-top: 80px; font-size: 5rem; color: #00142c; width: 5rem; margin: auto; }
.product .ratingcount { width: 40px; height: 40px; background: #DE9E9A; text-align: center; padding: 10px; }

.thumbnail { width: 150px; }

.login form { display: block; margin: 0 auto; width: 100%; max-width: 400px; }
.login form .btn { width: 100%; }

table { width: 100%; margin-bottom: 10px; background-color: #fff; }
table.no-border td { border: none; }
table a { font-weight: bold; }
table td, table th { padding: 5px 10px; border: 1px solid #dedede; }
table th { border-bottom: 2px solid #dedede; }
table td { color: #737373; }
table .complete { background-color: #6b7583; color: #fff; text-align: center; }
table .progress { margin-bottom: 0px; }
table .progress-bar { background-color: #6b7583; -webkit-box-shadow: none; box-shadow: none; min-width: 25px; }

.panel-title a { display: block; }

.overlay { display: none; position: fixed; z-index: 1031; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #000; background-color: rgba(0, 0, 0, 0.5); }

.popup { position: absolute; width: 34%; top: 50px; bottom: 0px; right: 0px; padding: 20px; border: 1px solid #eee; background: #fff; }

.messages { width: 100%; margin: 0; border-bottom: 1px solid #eee; list-style: none; border-bottom: 1px solid #faebcc; list-style: none; background: #fcf8e3; padding-left: 0px; }
.messages li { padding: 10px 30px 10px 0px; display: inline-block; color: #66512c; }

.navbar { margin-bottom: 0px; background-color: #fff; border-color: #dedede; }
.navbar a { font-weight: bold; color: #6c6c6c; }
.navbar .navbar-brand { letter-spacing: 1px; }

.nav > li { border-right: 1px solid #dedede; }
.nav > li:first-child { border-left: 1px solid #dedede; }

.light { font-weight: normal; }

.outer_content { padding: 40px 0; }

.main_content { padding: 20px 0; background-color: #fff; }

.btn-primary { background-color: #6b7583; border-color: #00142c; }
.btn-primary:hover { background-color: #00142c; border-color: #00142c; }

.right { float: right; }

.col-centered { float: none; margin: 0 auto; }

#id_email, #id_new_password2, #id_new_password1 { height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; width: 100%; margin-bottom: 15px; }

.products > div { min-height: 360px; }

.loadmore { margin: auto; width: auto; display: block; }

.thumbsup { position: absolute; width: 100%; top: 40%; text-align: center; font-size: 5rem; color: #fff; }
.thumbsup span { display: none; }

.meta h3 { margin-top: 0px; }

.rating .btn { float: right; margin-left: 5px; }

.btn.dope { border-color: #ed7d79; color: white; background: #ed7d79; }
.btn.dope:hover .plus-one { display: block; }
.btn.follow { float: none; border-color: #aee8ae; color: #aee8ae; background: none; }
.btn.follow.active { border-color: #ed7d79; color: #ed7d79; }
.btn .plus-one { display: none; }

.avatar { position: relative; border-radius: 50%; width: 300px; height: 300px; margin: auto; background-size: cover; background-position: center center; margin-bottom: 15px; }
.avatar.small { width: 50px; height: 50px; }
.avatar.medium { width: 100px; height: 100px; }

.text-center { text-align: center; }
.text-center > div { margin-bottom: 15px; }

.table .avatar { margin-bottom: 0px; }

.table > tbody > tr > td { vertical-align: middle; }
.table > tbody > tr > td.xs { width: 150px; }

.dashactivate { display: none; font-size: 3rem; padding-left: 15px; margin-bottom: 15px; }

@media (max-width: 991px) { #longmenu { left: -50%; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
  #longmenu.active { left: 0; }
  .dashactivate { display: block; }
  .dash { position: relative; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out; left: 0; }
  .dash.active { left: 50%; } }
@media print { body { background-color: #fff; } }
