{% extends "feed/base.html" %}
{% block content %}
<div class="main">
    <div class="row">
            <div class="content">
                <div class="col-md-6 col-md-offset-3">
                    <div class="avatar" style="background-image:url('/{{user.info.avatar}}')">
                        <div class="thumbsup">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="meta">
                            <h3>{{user.first_name}}</h3>
                            <p><a href="https://twitter.com/{{user.info.twitter}}">{{user.info.twitter}}</a></p>
                            <p>Followed by
                            <a href="/feed/followers/user/{{user.id}}">
                                {{followers}}
                            </a>
                            </p>
                        </div>
                        <div class="rating">
                              <button type="button" data-designer="{{user.id}}" data-user="{{viewer.id}}" class="btn btn-default follow sow">follow</button>
                        </div>
                    </div> {# .col #}
            </div> {# .content #}
    </div> {# .row #}
    <div class="row">
            <div class="content">
                <div class="col-md-10 col-md-offset-1">
                    {% for p in products %}
                        {% include "parts/productloop.html" %}
                    {% endfor %}
                </div> {# .col #}
            </div> {# .content #}
    </div> {# .row #}
</div>
{% endblock %}