{% extends "feed/base.html" %}
{% block content %}
<div class="main">
    <div class="row">
     {% include "dashboard/dashmenu.html" %}
            <div class="content col-md-9">
                <form class="col-md-9" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Title</label><input required name="title" class="form-control form-group"/>
                        <label>Description</label><input required name="description" class="form-control form-group"/>
                        <input id="id_image" type="file" class="" name="image">
                    </div>
                    <input class="btn btn-default" type="submit" name="action" value="Create"/>
                </form>
            </div> {# .content #}
    </div> {# .row #}
</div>
{% endblock %}