{% extends "feed/base.html" %}
{% block content %}
<div class="main">
    <div class="row">
     {% include "dashboard/dashmenu.html" %}
            <div class="dash content col-md-9">
              <div class="dashactivate menu"><span class="glyphicon glyphicon-cog"></span></div>
                <ul class="nav navbar-nav tabs" role="tablist">
                  <li class="active"><a href="#following" role="tab" data-toggle="tab">following</a></li>
                  <li><a href="#followers" role="tab" data-toggle="tab">followers</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="following">
                        <table class="table table-striped">
                            {% for f in follows %}
                              <tr>
                                <td class="xs">
                                  <div class="avatar small" style="background-image:url('/{{f.info.avatar}}')"></div>
                                </td>
                                <td>
                                 <a href="/feed/user/{{f.id}}"> {{f.first_name}}</a>
                                </td>
                                <td class="warning">
                                    {{f.rating}}
                                </td>
                              </tr>
                            {% endfor %}
                        </table>
                    </div>
                     <div role="tabpanel" class="tab-pane" id="followers">
                        <table class="table table-striped">
                            {% for f in followers %}
                              <tr>
                                <td class="xs">
                                  <div class="avatar small" style="background-image:url('/{{f.info.avatar}}')"></div>
                                </td>
                                <td>
                                 <a href="/feed/user/{{f.id}}"> {{f.first_name}}</a>
                                </td>
                                <td class="warning">
                                    {{f.rating}}
                                </td>
                              </tr>
                            {% endfor %}
                        </table>
                     </div>
                </div>
                   
            </div> {# .content #}
    </div> {# .row #}
</div>
{% endblock %}