{% extends "feed/base.html" %}
{% block content %}
<div class="main">
    <div class="row">
     {% include "dashboard/dashmenu.html" %}
            <div class="dash content col-md-9">
                <div class="dashactivate menu"><span class="glyphicon glyphicon-cog"></span></div>
                <div class="products">
                    <div class="col-md-4">
                        <a href="/dashboard/create" class="new product">
                            <div class="titleoverlay">
                                +
                            </div>
                        </a>
                    </div>
                    {% for p in products %}
                    <div class="col-md-4">
                        <a href="/dashboard/edit/{{p.id}}" class="product" style="background-image:url('/{{p.image}}')">
                            <div class="ratingcount">
                                 {{p.rating}}   
                            </div>
                        </a>
                        <h3>{{p.title}}</h3>
                        <p>{{p.description}}</p>
                    </div>
                    {% endfor %}
                </div>
                   
            </div> {# .content #}
    </div> {# .row #}
</div>
{% endblock %}